<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.easemob.helpdesk">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- AndroidL以下版本 获取最近task list需要此权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- Android L 需要用户给予下面的权限才可以查看最近的任务 -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 唤醒服务 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <!-- 需要修改为自己的包名:com.easemob.helpdesk -->
    <permission
        android:name="com.easemob.helpdesk.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>
    <!-- 需要修改为自己的包名:com.easemob.helpdesk -->
    <uses-permission android:name="com.easemob.helpdesk.permission.MIPUSH_RECEIVE"/>
    <application
        android:name=".HDApplication"
        android:hardwareAccelerated="true"
        android:icon="${APP_ICON_VALUE}"
        android:label="${APP_LABLE_VALUE}"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        >

        <activity
            android:name=".mvp.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".mvp.ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".mvp.AgentChatActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".mvp.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="easemob"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BaseActivity"/>
        <activity
            android:name=".activity.test.CommonTabActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.test.SegmentTabActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ScreeningActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.main.SearchNoticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.visitor.VisitorDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.visitor.CustomerDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.chat.PhraseItemActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchWaitAccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchHistorySessionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.chat.PhraseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.transfer.TransferActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.agent.AgentProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.chat.AddShortCutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.visitor.UserDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.history.HistoryChatActivity"
            android:label="@string/title_activity_history_chat"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.chat.ShowBigImage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.history.HistorySessionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ModifyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.visitor.UserProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.chat.SkillGroupsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.visitor.CustomerUpdateActivity"
            android:screenOrientation="portrait"/>

        <!-- photopicker start -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <!-- photo picker end -->

        <activity
            android:name=".activity.visitor.CustomersCenterActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".activity.agent.AgentUserListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"/>
        <activity
            android:name=".activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"/>
        <activity
            android:name=".activity.CategoryShowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SelectCategoryTreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimBottomIn"/>
        <activity
            android:name=".activity.SearchCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:name=".activity.history.HistorySessionDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.chat.ShowNormalFileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.chat.CustomWebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.manager.ManagerHomeActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.manager.ManagerChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.manager.OverviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.manager.HomeFilterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.manager.VisitorsFilterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.manager.WorkloadFilter"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.manager.HistoryFilter"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.manager.CurrentSessionFilter"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.main.TicketDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FileDownloadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.PhoneVerifyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.RegisterPersonalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ResetPwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.main.NoticeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.main.LeaveMessageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.main.TicketsScreeningActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.chat.ShowVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.chat.ImageGridActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.chat.RecorderVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.visitor.CustomersScreeningActivity"
            android:screenOrientation="portrait"/>

        <!-- 设置环信应用的appkey -->
        <!--
			 <meta-data
			 android:name="EASEMOB_APPKEY"
			 android:value="easemob-demo#chatdemoui" />
		-->
        <!-- 声明sdk所需的service -->
        <!-- <service -->
        <!-- android:name="com.easemob.chat.EMChatService" -->
        <!-- android:exported="true" /> -->
        <!-- 声明sdk所需的receiver -->
        <!-- <receiver android:name="com.easemob.chat.EMMonitorReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->
        <!-- <data android:scheme="package" /> -->
        <!-- </intent-filter> -->
        <!-- &lt;!&ndash; 可选filter &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <!--华为 HMS Config-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="10620345"/>
        <!--华为推送 start-->
        <receiver android:name="com.hyphenate.chat.EMHWPushReceiver">
            <intent-filter>
                <!-- 必须,用于接收 TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发 onEvent 回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK"/>
                <!-- 可选，查看 PUSH 通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>
                <!-- 接收通道发来的通知栏消息，兼容老版本 PUSH -->
                <action android:name="com.huawei.intent.action.PUSH"/>
            </intent-filter>
        </receiver>
        <!-- huawei push end -->


        <!-- xiaomi push start，不需要删除即可 -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true"/>

        <receiver
            android:name="com.hyphenate.chat.EMMipushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>
        <!-- xiaomi push end -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>
        <provider
            android:authorities="com.easemob.helpdesk"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>